
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #062f46;
  /* background-color: #F6F6F2; */
  font-family: 'Exo', sans-serif;
  display: block;
  box-sizing: content-box;
  overflow: visible;
  margin-left: 5%;
  margin-right: 5%;
}



